body > header {
  background: $header-bg;
  margin-top: 1.25em;
  padding-top: 1.00em;
  padding-bottom: 0;
  font-size: 2em;
  letter-spacing: 3px;
  text-align: center;
  h1 {
    font-weight: 100;
    font-size: 1.75em;
    letter-spacing: 5px;
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
